# Laravel
backend/.env
backend/.env.backup
backend/vendor/
backend/node_modules/
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/bootstrap/cache/*
backend/public/hot
backend/public/storage

# React
frontend/.env
frontend/node_modules/
frontend/dist/

# Flask
ocr-service/venv/
ocr-service/**/__pycache__/
ocr-service/**/*.pyc
ocr-service/**/*.pyo
ocr-service/.env

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/